In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from sklearn.datasets import make_moons
from sklearn.preprocessing import StandardScaler
from sqlalchemy.dialects.mssql.information_schema import columns

In [9]:
df = pd.read_csv('data/Filosofi2017_carreaux_200m_met.csv')
df

/tmp/ipykernel_227389/2175663804.py:1: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/Filosofi2017_carreaux_200m_met.csv')

,Idcar_200m,I_est_200,Idcar_1km,I_est_1km,Idcar_nat,Groupe,Ind,Men_1ind,Men_5ind,Men_prop,...,Ind_18_24,Ind_25_39,Ind_40_54,Ind_55_64,Ind_65_79,Ind_80p,Ind_inc,Men_pauv,Men,lcog_geo
0,CRS3035RES200mN2029800E4254200,1,CRS3035RES1000mN2029000E4254000,1,CRS3035RES8000mN2024000E4248000,14863,2.0,0.3,0.0,0.6,...,0.2,0.0,0.4,0.3,0.7,0.1,0.0,0.2,0.9,2A041
1,CRS3035RES200mN2030000E4254200,1,CRS3035RES1000mN2030000E4254000,1,CRS3035RES8000mN2024000E4248000,14863,1.0,0.2,0.0,0.3,...,0.1,0.0,0.2,0.1,0.4,0.1,0.0,0.1,0.4,2A041
2,CRS3035RES200mN2030000E4254600,1,CRS3035RES1000mN2030000E4254000,1,CRS3035RES8000mN2024000E4248000,14863,5.0,0.9,0.1,1.5,...,0.4,0.1,1.1,0.7,1.8,0.3,0.0,0.4,2.2,2A041
3,CRS3035RES200mN2030200E4254200,1,CRS3035RES1000mN2030000E4254000,1,CRS3035RES8000mN2024000E4248000,14863,3.0,0.5,0.1,0.9,...,0.2,0.1,0.6,0.4,1.1,0.2,0.0,0.3,1.3,2A041
4,CRS3035RES200mN2030400E4253800,1,CRS3035RES1000mN2030000E4253000,1,CRS3035RES8000mN2024000E4248000,175938,2.0,0.2,0.1,0.7,...,0.0,0.2,0.6,0.5,0.4,0.1,0.0,0.1,0.9,2A041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294771,CRS3035RES200mN3134400E3797800,0,CRS3035RES1000mN3134000E3797000,0,CRS3035RES1000mN3134000E3797000,1016961,106.5,37.0,0.0,23.0,...,5.0,14.0,18.0,25.0,28.0,2.0,0.0,14.0,65.0,59107
2294772,CRS3035RES200mN3134400E3798000,0,CRS3035RES1000mN3134000E3798000,1,CRS3035RES2000mN3134000E3798000,1016963,22.0,10.0,0.0,12.0,...,0.0,1.0,1.0,5.0,12.0,3.0,0.0,6.0,16.0,59107
2294773,CRS3035RES200mN3134600E3798000,1,CRS3035RES1000mN3134000E3798000,1,CRS3035RES2000mN3134000E3798000,398106,14.0,6.3,0.0,8.7,...,0.0,0.5,2.4,2.4,6.3,2.4,0.0,1.0,10.1,59107
2294774,CRS3035RES200mN3134600E3798200,1,CRS3035RES1000mN3134000E3798000,1,CRS3035RES2000mN3134000E3798000,398106,14.0,6.3,0.0,8.7,...,0.0,0.5,2.4,2.4,6.3,2.4,0.0,1.0,10.1,59107
2294775,CRS3035RES200mN3134600E3799800,1,CRS3035RES1000mN3134000E3799000,1,CRS3035RES2000mN3134000E3798000,398106,1.0,0.4,0.0,0.6,...,0.0,0.0,0.2,0.2,0.4,0.2,0.0,0.1,0.7,59107

In [10]:
df.drop(['Idcar_200m', 'Idcar_1km', 'I_est_1km', 'Idcar_nat', 'lcog_geo'], axis=1, inplace=True)
df

,I_est_200,Groupe,Ind,Men_1ind,Men_5ind,Men_prop,Men_fmp,Ind_snv,Men_surf,Men_coll,...,Ind_11_17,Ind_18_24,Ind_25_39,Ind_40_54,Ind_55_64,Ind_65_79,Ind_80p,Ind_inc,Men_pauv,Men
0,1,14863,2.0,0.3,0.0,0.6,0.0,59349.4,145.1,0.1,...,0.3,0.2,0.0,0.4,0.3,0.7,0.1,0.0,0.2,0.9
1,1,14863,1.0,0.2,0.0,0.3,0.0,29674.7,72.5,0.0,...,0.1,0.1,0.0,0.2,0.1,0.4,0.1,0.0,0.1,0.4
2,1,14863,5.0,0.9,0.1,1.5,0.1,148373.6,362.7,0.2,...,0.6,0.4,0.1,1.1,0.7,1.8,0.3,0.0,0.4,2.2
3,1,14863,3.0,0.5,0.1,0.9,0.1,89024.2,217.6,0.1,...,0.4,0.2,0.1,0.6,0.4,1.1,0.2,0.0,0.3,1.3
4,1,175938,2.0,0.2,0.1,0.7,0.1,54304.3,111.4,0.1,...,0.1,0.0,0.2,0.6,0.5,0.4,0.1,0.0,0.1,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294771,0,1016961,106.5,37.0,0.0,23.0,10.0,2079917.6,3820.0,53.0,...,9.0,5.0,14.0,18.0,25.0,28.0,2.0,0.0,14.0,65.0
2294772,0,1016963,22.0,10.0,0.0,12.0,1.0,409078.7,1024.0,12.0,...,0.0,0.0,1.0,1.0,5.0,12.0,3.0,0.0,6.0,16.0
2294773,1,398106,14.0,6.3,0.0,8.7,0.0,365259.0,448.0,9.6,...,0.0,0.0,0.5,2.4,2.4,6.3,2.4,0.0,1.0,10.1
2294774,1,398106,14.0,6.3,0.0,8.7,0.0,365259.0,448.0,9.6,...,0.0,0.0,0.5,2.4,2.4,6.3,2.4,0.0,1.0,10.1
2294775,1,398106,1.0,0.4,0.0,0.6,0.0,26089.9,32.0,0.7,...,0.0,0.0,0.0,0.2,0.2,0.4,0.2,0.0,0.1,0.7